body, html {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

.sidebar {
	height: 100%;
	width: 250px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #ffffff;
	padding-top: 20px;
}

.menu-item {
	padding: 10px 15px;
	display: block;
	color: black;
	text-decoration: none;
	border: 1px solid transparent;
	background-color: transparent;
	cursor: pointer;
	transition: background-color 0.3s ease, border-color 0.3s ease;
	text-align: left;
	width: 100%;
	text-transform: uppercase;
	border-radius: 5px;
}

.menu-item:hover {
	background-color: #ddd;
	border-color: #bbb;
}

.menu-item:focus {
	outline: none;
}

.sub-menu {
            display: none;
            background-color: #fff;
            border: 1px solid #ddd;
            border-top: none;
            margin-left: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a slight shadow */
        }
        .sub-menu a {
            padding: 10px 15px;
            display: block;
            color: black;
            text-decoration: none;
            border: none;
            background-color: transparent;
            cursor: pointer;
            transition: background-color 0.3s ease;
            text-align: left;
            width: calc(100% - 30px); /* Adjusted width to account for padding */
            box-sizing: border-box; /* Include padding and borders in width */
        }
        .sub-menu a:hover {
            background-color: #eee;
        }
  #container {
            display: flex;
            flex-direction: row;
        }
        #menu {
            width: 255px;
            background-color: #FFF;
            padding:10px 10px 10px 10px;
        }
        #content {
            flex: 1;
        }
        #header {
            height: 200px;
            background-color: #e0e0e0;
            position: relative;
        }
        #main-content {
            padding: 20px;
        }
        
        #menu img {
        overflow-clip-margin: content-box;
            max-width: 70%; /* Ensure image does not exceed menu width */
            height: auto; /* Maintain aspect ratio */
            display: block; /* Prevents inline layout */
        }
        /* Initially hide the menu toggle icon */
        #menu-toggle {
            display: none;
        }
        
        /* Responsive Styles */
        @media screen and (max-width: 768px) {
            #container {
                flex-direction: column;
            }
            #menu {
                display: none;
            }
            /* Show the menu toggle icon when the menu is hidden */
            #menu-toggle {
                display: block;
                position: absolute;
                top: 10px;
                left: 10px;
                cursor: pointer;
            }
        }
        
    .active-menu-item{
    background-color:  #cc2b19;
    color : #FFF;
    }
    
    .button-icon {
            padding: 10px 15px;
            cursor: pointer;
            border: none;
            /*background-color: #007bff; */
            color: white;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        .button-icon i {
            margin-right: 5px;
        }

        .button-icon:hover {
            background-color: #444444;
        }
        