.common-pagelayout {
	background-color: #FFF;
	width: 100%;
	padding-left: 50px;
	padding-right: 50px;
}

h2 {
	font-family: var(--font-secondary);
	color: #2c3e50;
	font-size: 32px;
	font-weight: 400;
}

body {
	font-family: font-sans-serif;
	font-size: 14px;
	line-height: 23px;
	font-weight: 300;
	color: #444;
}

.outlined-button {
	border-radius: 8px;
    background-color: #ffcc00;
    border-color: #333;
}
.filters.button-group button.button.is-checked{
	background-color: #efefef;
}

.filters.button-group button {
    padding: 5px 15px;
    border-radius: 25px;
    border: 1px solid #ced4da;
    min-width: 65px;
    background-color: white;
    margin-bottom: 20px;
    font-size: 13px;
}
.rounded-border{
	 padding: 5px 15px;
    border-radius: 25px;
    border: 1px solid #ced4da;
    min-width: 65px;
    background-color: white;
    margin-bottom: 20px;
    font-size: 13px;
}
.active-rounded{
	background-color: #efefef;
}

.search-btn-rounded{
	padding: 5px 15px;
    border-radius: 25px;
    border: 1px solid #ced4da;
    min-width: 65px;
    background-color: white;
    margin-bottom: 20px;
    font-size: 13px;
    color:#FFF;
}